<div class="row wrapper__row grid-debug">
	<div class="row__col W1gc_sm W1gc_md">
		<h3>1</h3>
	</div>
	<div class="row__col W1gc_sm W2gc_md">
		<h3>2</h3>
	</div>
	<div class="row__col W1gc_sm W8gc_md">
		<h3>8</h3>
	</div>
</div>
