/*
Wrapper

The block-container for the main content of the page. The maximum width is set in the [settings](section-sass-tools.html#kssref-sass-tools-settings-blocks). The default is `1200px`.

The container has sides `padding` that equal to gutters so that the content does not stick to sides on small screens. On wide screens the container is centered.

Like in [row__col](#kssref-core-blocks-row-row__col), in wrapper is used `calc()` fallback for fields:
```scss
padding-right: 1.5%;
padding-left: 1.5%;
padding-right: calc(12px);
padding-left: calc(12px);
```

Markup: ../../../docs/examples/core-blocks/wrapper/wrapper.html

Styleguide: core-blocks.wrapper
*/

.wrapper {
	display: block;
	max-width: $mlu-wrapper-max-width;
	margin: 0 auto;
	@include mlu-generate-gutter($type: "padding", $calc: 1);
}
