<h3>Layout in col without gutters left, right and bottom</h3>
<div class="row Mx-1gg">
	<div class="row__item row test-row W4gs_sm W9gs_md">
		<div class="row__col W2gc_sm W3gc_md">
			<b>Parent W9gs_md</b>
			<p>this W3gc_md</p>
		</div>
		<div class="row__col W2gc_sm W4gc_md">
			<b>Parent W9gs_md</b>
			<p>this W4gc_md</p>
		</div>
		<div class="row__col W2gc_sm W5gc_md">
			<b>Parent W9gs_md</b>
			<p>this W5gc_md</p>
		</div>
	</div>
	<div class="row__col W2gc_sm W3gc_md">
		<b>W3gc_md</b>
	</div>
</div>
<h3>Layout in col with gutters left and right</h3>
<div class="row Mx-1gg">
	<div class="row__col row test-row W9gc_md">
		<div class="row__col W2gc_sm W3gc_md">
			<b>Parent W9gc_md</b>
			<p>this W3gc_md</p>
		</div>
		<div class="row__col W2gc_sm W4gc_md">
			<b>Parent W9gc_md</b>
			<p>this W4gc_md</p>
		</div>
		<div class="row__col W2gc_sm W5gc_md">
			<b>Parent W9gc_md</b>
			<p>this W5gc_md</p>
		</div>
	</div>
	<div class="row__col W2gc_sm W3gc_md">
		<b>W3gc_md</b>
	</div>
</div>
