/*
Background

* `Bgr-n`
* `Bgsz-cv`
* `Bgsz-ct`

Styleguide: core-utils.bg
*/

/*
mBgp

Modified `background-position`. Includes `Bgr-n`.

c - center.

Styleguide: core-utils.bg.mbgp
*/

.Bgr-n {
	background-repeat: no-repeat;
}

.mBgp-c {
	background-repeat: no-repeat;
	background-position: center;
}

.Bgsz-cv {
	background-size: cover;
}

.Bgsz-ct {
	background-size: contain;
}
