/*
Box sizing

Utilities for DOM nodes size management.

* `Maw100p`
* `Maw-n`
* `H100p`
* `Bxz`

Styleguide: core-utils.bxz
*/

.W-card {
	max-width: $mlu-W-card;
}

.Maw100p {
	max-width: 100%;
}

.Maw-n {
	max-width: none;
}

.H100p {
	height: 100%;
}

.Bxz {
	box-sizing: border-box;
}
