/*
D

Display. Sets the display type.

D - block. The DOM node stretches on the full width of the container and creates line breaks before and after. *Responsive*.
D-ib - inline-block. The width of the DOM node depends on the width of the content. Inline-blocks line up in one line like a letters and wrap if they don’t fit. *Responsive*.
D-f - flex. Turns an DOM node into a flex container. Can be used to progressive enhancement the [row](section-core-blocks.html#kssref-core-blocks-row) layouts. Child DOM nodes will be stretched to the full height of the container. By default, child DOM nodes are not wrap to the new line and are compressed in width until they go beyond the line. *Responsive*.
D-if - inline-flex. Combines inline-block and flex container. *Responsive*.
D-n - none. Hides the DOM node as if it is not on the page. *Responsive*.

Markup: ../../../docs/examples/core-utils/visual-formatting/d.hbs

Styleguide: core-utils.visual.d
*/

/*
mD

Modified display.

mD-f - `D-f` with line breaks.
mD-if - `D-if` with `Fxw-w`.

Styleguide: core-utils.visual.md
*/

.D {
	display: block;
}

.D-ib {
	display: inline-block;
}

.D-tb {
	display: table;
}

.D-tbc {
	display: table-cell;
}

.D-tbr {
	display: table-row;
}

.D-itb {
	display: inline-table;
}

.D-f {
	display: flex;
}

.D-if {
	display: inline-flex;
}

.D-n {
	display: none;
}

.mD-f {
	display: flex;
	flex-wrap: wrap;
}

.mD-if {
	display: inline-flex;
	flex-wrap: wrap;
}

@each $key, $value in $mlu-grid-cols {
	@include mlu-bpm($key) {
		.D-n_#{$key} {
			display: none;
		}

		.D_#{$key} {
			display: block;
		}

		.D-ib_#{$key} {
			display: inline-block;
		}

		.D-f_#{$key} {
			display: flex;
		}

		.D-if_#{$key} {
			display: inline-flex;
		}
	}
}

@if $MLU-FLAG-EXTENDED {
	.D-i {
		display: inline;
	}

	.D-tbfg {
		display: table-footer-group;
	}
}
