/*
Font

* `F-i`
* `Fw400` \- normal font weight.
* `Fw700` \- **bold**.
* `Fs` \- *italic*.
* `Fs-n` \- normal font style.
* `Fz-i`

Styleguide: core-utils.f
*/

/*
mFz

Modified font size.

0 - Accessibly hides the text inside the DOM node.

Styleguide: core-utils.f.mfz
*/

.F-i {
	font: inherit;
}

.Fw400 {
	font-weight: 400;
}

.Fw700 {
	font-weight: 700;
}

.Fs {
	font-style: italic;
}

.Fs-n {
	font-style: normal;
}

.Fz-i {
	font-size: inherit;
}

.mFz0 {
	overflow: hidden;
	color: transparent;
	text-indent: 120%;
	white-space: nowrap;
	font-size: 0px;

	&::selection {
		color: transparent;
	}
}
