/*
Margin

You can set some margins in the grid-gutters(gg). For example margin top - `Mt` and margin bottom - `Mb`.

Vertical margins in grid-gutters are converted to `rems`. This affects accessibility, because margins will be scaled when changing font sizes in the browser settings.

* `M0` \- clear all margins.
* `M-a`
* `Mr0`
* `Mt0`
* `Mt1gg..Mt4gg`
* `Mb0`
* `Mb1gg..Mb4gg`
* `Mb-2gg`

Styleguide: core-utils.margin
*/

/*
Ml

Margin left. You can set left margin in the grid-columns(gc), grid-gutters(gg) or in the grid-spans(gs). So you can set the offset for layout elements.

* `Ml-a` \- *Responsive*.
* `Ml0` \- *Responsive*.
* `Ml-2gg..Ml2gg` \- the range includes 2 negative margins and 2 positive.
* `Ml1gg` \- Partial *responsive* on `lg` and `xl`. It is needed to return the default column gutter.
* `Ml1gc..Ml10gc` \- available margin in `gc` on all breakpoints, starting with `md`.
* `Ml1gs..Ml10gs`

Markup: ../../../docs/examples/core-utils/margin/ml.html

Styleguide: core-utils.margin.ml
*/

/*
Mx

Margin on X axis. Sets left and right margin.

* `Mx-a` \- centered the DOM node with a given width and `block` [display type](#kssref-core-utils-visual-d). *Responsive*.
* `Mx1gg` \- *responsive*.
* `Mx-1gg` \- it needed for imposes left and right margins of the outermost columns on the fields of the [wrapper](section-core-blocks.html#kssref-core-blocks-wrapper). This behavior is necessary so that there are no double fields in the layout, using [row__col](section-core-blocks.html#kssref-core-blocks-row-row__col) or `Mx1gg`.
* `Mx0` \- *responsive*.

Markup: ../../../docs/examples/core-utils/margin/mx.html

Styleguide: core-utils.margin.mx
*/

$mlu-gtr-sm-rem: mlu-px2rem($mlu-gtr-sm);

.M0 {
	margin: 0px;
}

.M-a {
	margin: auto;
}

.Ml-a {
	margin-left: auto;
}

.Mx-a {
	margin-left: auto;
	margin-right: auto;
}

@each $value in $mlu-main-directions {
	.M#{str-slice($value, 1, 1)}0 {
		margin-#{$value}: 0;
	}
}

@for $i from $mlu-My-range through 1 {
	.Mt#{$i}gg {
		@include mlu-generate-gutter($mlu-gtr-sm-rem, $coef: $i, $direct: "top");
	}

	.Mb#{$i}gg {
		@include mlu-generate-gutter($mlu-gtr-sm-rem, $coef: $i, $direct: "bottom");
	}
}

.Mb-2gg {
	@include mlu-generate-gutter($coef: -2, $direct: "bottom");
}

.Ml-2gg {
	@include mlu-generate-gutter($coef: -2, $direct: "left");
}

.Ml2gg {
	@include mlu-generate-gutter($coef: 2, $direct: "left");
}

.Ml-1gg {
	@include mlu-generate-gutter($coef: -1, $direct: "left");
}

.Ml1gg {
	@include mlu-generate-gutter($direct: "left");
}

.Mx1gg {
	@include mlu-generate-gutter();
}

.Mx-1gg {
	@include mlu-generate-gutter($coef: -1, $calc: 1);
}

@each $key, $value in $mlu-grid-gutters {
	@include mlu-bpm($key) {
		.Ml-a_#{$key} {
			margin-left: auto;
		}

		.Mx-a_#{$key} {
			margin-left: auto;
			margin-right: auto;
		}

		.Mx1gg_#{$key} {
			margin-left: $value;
			margin-right: $value;
		}

		.Mx0_#{$key} {
			margin-left: 0;
			margin-right: 0;
		}
	}
}
