/*
Padding

* `P0` \- clear all paddings.
* `P8` \- creates paddings of 8px all around.
* `Pt1gg` \- works similarly [Mt1gg](#kssref-core-utils-margin)
* `Pb1gg`
* `Px1gg`

Styleguide: core-utils.padding
*/

$mlu-gtr-sm-rem: mlu-px2rem($mlu-gtr-sm);

.P0 {
	padding: 0px;
}

.P8 {
	padding: mlu-px2em(8px) 8px;
}

.Pt1gg {
	@include mlu-generate-gutter($mlu-gtr-sm-rem, "padding", $direct: "top");
}

.Pb1gg {
	@include mlu-generate-gutter($mlu-gtr-sm-rem, "padding", $direct: "bottom");
}

.Px1gg {
	@include mlu-generate-gutter($type: "padding", $calc: 1);
}
