/*
Position

* `Pos`
* `Pos-a`
* `Pos-f`
* `T0`
* `R0`
* `B0`
* `L0`

Styleguide: core-utils.pos
*/

/*
Z

`z-index`.

0..3 - `z-index` available range. You can change it in utilities [settings](section-sass-tools.html#kssref-sass-tools-settings-utils).
max - max value. By default: `9999`.

Styleguide: core-utils.pos.z
*/

/*
mXy

X and Y coordinate axes. Change `top` or `bottom` and `right` or `left`.

0 - set T0, R0, B0 and L0.
50p - centered DOM node with `Pos-a` or `Pos-f` using `T50p`, `L50p` and `transform`.

Styleguide: core-utils.pos.xy
*/

.Pos {
	position: relative;
}

.Pos-a {
	position: absolute;
}

.Pos-f {
	position: fixed;
}

.T0 {
	top: 0px;
}

.R0 {
	right: 0px;
}

.B0 {
	bottom: 0px;
}

.L0 {
	left: 0px;
}

.mXy0 {
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.mXy50p {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@for $i from 0 to $mlu-Z-range {
	.Z#{$i} {
		z-index: $i;
	}
}

.Z-max {
	z-index: $mlu-Z-max;
}

