include includes/vars.pug
include includes/mixins.pug
doctype html
html(lang="ru")
	head
		- pageTitle = "Set of ready layouts";
		include includes/head.pug
	body.page
		include includes/header.pug
		main
			.wrapper
				h1.title-h1 Set of ready layouts
				h2 Раскладка 1
				.row
					- for(i = 0; i < 3; i++)
						.row__col.W2gc_sm.W4gc_md
							h3 Колонка №#{i}
							p Et molestie ac, feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa, eget egestas purus viverra?
				h2 Раскладка 2
				.row.mD-f
					.row__col.test-content.W6gc_md
						h3 Контент 
					.row__item.row.W6gs_md
						- for(i = 0; i < 4; i++)
							.row__col.W2gc_sm
								h3 Контент
								p Колонка внутри другой колонки
				h2 Раскладка 3
				.row.mD-f
					.row__col.W2gc_sm
						h3 Контент 
					.row__item.row.W2gs_sm
						- for(i = 0; i < 2; i++)
							.row__col
								p Какой то контент #{i}
				h2 Раскладка 4
				.row.mD-f
					.row__item.row.W2gs_sm
						- for(i = 0; i < 2; i++)
							.row__col
								p Колонка #{i}
					.row__col.W2gc_sm
						h3 Контент 
				h2 Раскладка 5
				.row
					- for(i = 0; i < 3; i++)
						.row__item.row.W4gs_sm.W4gs_md
							- for(var j = 0; j < 3; j++)
								.row__col.W2gc_sm.W12gc_md
									p Подколонка #{j} <br> в колонке #{i}
				h2 Раскладка 6
				.row
					.row__col
						h3 Контент 
					.row.mD-f
						- for(i = 0; i < 2; i++)
							.row__col.W2gc_sm
								p Колонка #{i}
					.row__col
						h3 Контент 
				h2 Раскладка 7
				.row.mD-f
					.row__col.W2gc_sm
						h3 Контент 
					.row__item.row.W2gs_sm
						- for(i = 0; i < 4; i++)
							.row__col
								p Колонка #{i}
				h2 Раскладка 8
				.row.mJc-c
					- for(i = 0; i < 3; i++)
						.row__col.W-card
							h3 Карточка #{i}
							p с фиксированной шириной
				h2 Раскладка 9
				.row
					.row__col.W2gc_sm
						h3 Заголовок
						p 2 равные колонки
					.row__col.W2gc_sm
						h3 Заголовок
						p Какой то текст
				h2 Раскладка 10
				.row
					.row__col.W2gc_sm.W8gc_md
						h3 Большая колонка
						p Контент
					.row__col.W2gc_sm.W4gc_md
						h3 Колонка поменьше
						p Какой то текст
						p Много контента
				h2 Раскладка 11
				.row
					- for(i = 0; i < 4; i++)
						.row__col.W2gc_sm.W3gc_md
							h3 Колонка №#{i}
							p Et molestie ac, feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa, eget egestas purus viverra?

		include includes/footer.pug
		include includes/scripts.pug
