<div class="row mD-f">
	<div class="row__col W2gc_sm">
		<h3>Контент</h3>
	</div>
	<div class="row__item row W2gs_sm">
		<div class="row__col">
			<p>Какой то контент 0</p>
		</div>
		<div class="row__col">
			<p>Some content</p>
		</div>
	</div>
</div>
