<div class="row mD-f">
	<div class="row__col W2gc_sm">
		<h3>Контент </h3>
	</div>
	<div class="row__item row W2gs_sm">
		<div class="row__col">
			<p>Колонка 0</p>
		</div>
		<div class="row__col">
			<p>Колонка 1</p>
		</div>
		<div class="row__col">
			<p>Колонка 2</p>
		</div>
		<div class="row__col">
			<p>Колонка 3</p>
		</div>
	</div>
</div>
