<div class="row mD-f">
	<div class="row__col W6gc_md">
		<h3>Test content</h3>
	</div>
	<div class="row__item row W6gs_md">
		<div class="row__col W2gc_sm">
			<h3>Контент</h3>
			<p>Колонка внутри другой колонки</p>
		</div>
		<div class="row__col W2gc_sm">
			<h3>Контент</h3>
			<p>Колонка внутри другой колонки</p>
		</div>
		<div class="row__col W2gc_sm">
			<h3>Контент</h3>
			<p>Колонка внутри другой колонки</p>
		</div>
		<div class="row__col W2gc_sm">
			<h3>Контент</h3>
			<p>Колонка внутри другой колонки</p>
		</div>
	</div>
</div>
