<div class="row mJc-c">
	<div class="row__col W-card">
		<h3>Карточка 0</h3>
		<p>с фиксированной шириной</p>
	</div>
	<div class="row__col W-card">
		<h3>Карточка 1</h3>
		<p>с фиксированной шириной</p>
	</div>
	<div class="row__col W-card">
		<h3>Карточка 2</h3>
		<p>с фиксированной шириной</p>
	</div>
</div>
