<div class="row">
	<div class="row__col">
		<h3>Контент </h3>
	</div>
	<div class="row mD-f">
		<div class="row__col W2gc_sm">
			<p>Колонка 0</p>
		</div>
		<div class="row__col W2gc_sm">
			<p>Колонка 1</p>
		</div>
	</div>
	<div class="row__col">
		<h3>Контент </h3>
	</div>
</div>
