<div class="row">
	<div class="row__item row W4gs_sm W4gs_md">
		<div class="row__col W2gc_sm W12gc_md">
			<p>Subcolumn 0 <br> in column 0</p>
		</div>
		<div class="row__col W2gc_sm W12gc_md">
			<p>Subcolumn 1 <br> in column 0</p>
		</div>
		<div class="row__col W2gc_sm W12gc_md">
			<p>Subcolumn 2 <br> in column 0</p>
		</div>
	</div>
	<div class="row__item row W4gs_sm W4gs_md">
		<div class="row__col W2gc_sm W12gc_md">
			<p>Subcolumn 0 <br> in column 1</p>
		</div>
		<div class="row__col W2gc_sm W12gc_md">
			<p>Subcolumn 1 <br> in column 1</p>
		</div>
		<div class="row__col W2gc_sm W12gc_md">
			<p>Subcolumn 2 <br> in column 1</p>
		</div>
	</div>
	<div class="row__item row W4gs_sm W4gs_md">
		<div class="row__col W2gc_sm W12gc_md">
			<p>Subcolumn 0 <br> in column 2</p>
		</div>
		<div class="row__col W2gc_sm W12gc_md">
			<p>Subcolumn 1 <br> in column 2</p>
		</div>
		<div class="row__col W2gc_sm W12gc_md">
			<p>Subcolumn 2 <br> in column 2</p>
		</div>
	</div>
</div>
