/*
Grid-debug

Block for debugging layouts. It displays a modular grid in the background of the container. Modular grid are generated depending on the [settings](section-sass-tools.html#kssref-sass-tools-settings-grid). By default on the `sm` breakpoint, the grid has 4 columns, on `md` and above \- 12.

There may be minor inaccuracies in the drawing of the grid, because the grid is generated with CSS `linear-gradient()`.

It *turned off* in default MLUT distributive.

Markup: ../../../docs/examples/core-blocks/grid-debug/grid-debug.html

Styleguide: core-blocks.grid-debug
*/

@each $key, $value in $mlu-grid-gutters {
	$item-index: index($mlu-grid-gutters, ($key $value));

	@include mlu-bpm($key) {
		.grid-debug {
			$col-width: mlu-decimal-floor(1 / mlu-grid-cols-count($key) * 100%, 3);
			$prev-col-width: 0;
			$prev-col-gutter: 0;

			@if $item-index == 1 {
				padding: ($value * 4) 0px;
			} @else {
				$prev-bp-name: mlu-breakpoint-prev-name($key);
				$prev-col-width: mlu-decimal-floor(1 / mlu-grid-cols-count($prev-bp-name) * 100%, 3);
				$prev-col-gutter: mlu-grid-gutter($prev-bp-name);
			}

			@if $value != $prev-col-gutter {
				$debug-col: calc(100% - #{$value});
				/* autoprefixer: off */
				background-image: linear-gradient(90deg,
				$mlu-debug-gutter-color $value,
				$mlu-debug-col-color $value,
				$mlu-debug-col-color $debug-col,
				$mlu-debug-gutter-color 0);
			}

			@if $col-width != $prev-col-width {
				background-size: $col-width;
			}
		}
	}
}
