<div class="test-content W2gc_sm Mb1gg">
	<h3>W2gc_sm</h3>
	<p>Width 2 of 4 columns on `sm` and all subsequent breakpoints.</p>
</div>
<div class="test-content W2gc_sm W4gc_md Mb1gg">
	<h3>W2gc_sm W4gc_md</h3>
	<ul>
		<li>2 of 4 columns on `sm`</li>
		<li>4 of 12 on `md` and all subsequent breakpoints.</li>
	</ul>
</div>
<div class="test-content W1gc W-a_md W10gs_lg">
	<h3>W1gc W-a_md W10gs_lg</h3>
	<ul>
		<li>1 of 2 columns on `xs` and `sm`</li>
		<li>auto on `md`</li>
		<li>10 of 12 spans on `lg` and all subsequent breakpoints.</li>
	</ul>
</div>
