/*
Input

Block for creating inputs. Normalizes styles.

Markup: ../../../docs/examples/core-blocks/input/input.html

Styleguide: core-blocks.input
*/

.input {
	display: inline-block;
	box-sizing: border-box;
	margin: 0px;
	font: inherit;
	border: 0;
}
