<div class="row Mb-2gg D-f" style="min-height: 280px;">
	<div class="row__col mAs-fs W2gc_sm W2gc_md">
		<h3>mAs-fs</h3>
		<p>Et molestie ac, feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa, eget egestas purus viverra?</p>
	</div>
	<div class="row__col mAs-c W2gc_sm W2gc_md">
		<h3>mAs-c</h3>
		<p>Et molestie ac, massa, eget egestas purus viverra?</p>
	</div>
	<div class="row__col mAs-fe W2gc_sm W3gc_md">
		<h3>mAs-fe</h3>
		<p>Et molestie ac, feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa, eget egestas purus viverra?</p>
	</div>
	<div class="row__col mAs-b W2gc_sm W4gc_md">
		<h3>mAs-b</h3>
		<p>Et molestie ac, ullamcorper morbi tincidunt ornare massa, eget egestas purus viverra?</p>
	</div>
</div>
