<div class="row">
	<div class="row__col row test-row W4gc_sm W9gc_md">
		<div class="row__col W2gc_sm W3gc_md">
			<h3>Parent .W9gc_md</h3>
			<p>this .W3gc_md</p>
		</div>
		<div class="row__col W2gc_sm W4gc_md">
			<h3>Parent .W9gc_md</h3>
			<p>this .W4gc_md</p>
		</div>
		<div class="row__col W2gc_sm W5gc_md">
			<h3>Parent have double gutter</h3>
			<p>this .W5gc_md</p>
		</div>
	</div>
	<div class="row__col W2gc_sm W3gc_md">
		<h3>.W3gc_md</h3>
	</div>
</div>
<p><b>Similar mix with row__item:</b></p>
<div class="row">
	<div class="row__item row test-row W4gs_sm W9gs_md">
		<div class="row__col W2gc_sm W3gc_md">
			<h3>Parent .W9gc_md</h3>
			<p>this .W3gc_md</p>
		</div>
		<div class="row__col W2gc_sm W4gc_md">
			<h3>Parent .W9gc_md</h3>
			<p>this .W4gc_md</p>
		</div>
		<div class="row__col W2gc_sm W5gc_md">
			<h3>Parent without double gutter</h3>
			<p>this .W5gc_md</p>
		</div>
	</div>
	<div class="row__col W2gc_sm W3gc_md">
		<h3>.W3gc_md</h3>
	</div>
</div>
