<div class="row">
	<div class="row__item W2gc_sm W2gc_md">
		<h3>Элемент 0</h3>
		<p>элемент без отступов</p>
	</div>
	<div class="row__item">
		<h3>Элемент 1</h3>
		<p>элемент без отступов</p>
	</div>
	<div class="row__item W2gc_sm W2gc_md">
		<h3>Элемент 2</h3>
		<p>элемент без отступов</p>
	</div>
	<div class="row__item W2gc_sm W3gc_md Ml1gg">
		<h3>Последний элемент</h3>
		<p>с внешним отступом</p>
	</div>
</div>
